<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--The first step of the offer creation-->
<div th:fragment="page_3">
    <h2 class="title">Amennyiben szeretné megkapni emailben az ajánlatot, adja meg elérhetőségét, vagy használja a
        Letöltés gombot.</h2>

    <section class="padding ptb-xs-60">
        <div class="romana_chect_out_form_area sp">
            <div class="container">
                <div class="romana_check_out_form">
                    <div class="row">
                        <div class="col-sm-12 center">
                            <div class="check_form_center common_input">
                                <div class="heading-box pb-30">
                                    <h2><span class="center">Kapcsolat</span></h2>
                                    <span class="b-line l-center line-h"></span>
                                </div>
                                <form method="post" th:action="@{/ajanlat/3}" th:object="${email}">
                                    <div class="row">
                                        <div class="col-sm-4"></div>
                                        <div class="col-sm-4">
                                            <input type="email" name="check_email" placeholder="Email"
                                                   th:field="*{emailAddress}">
                                        </div>
                                        <div class="col-sm-4"></div>
                                    </div>

                                    <div class="row">
                                        <div class="caption sfb lowercase-caption text-center">
                                            <button class="btn-text" type="submit" id="submitEmail" name="button">

                                                <i class="fa fa fa-envelope-o fa-lg"></i>
                                                <span>Email</span>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <br>
                                <form method="POST" id="simplePdf" th:action="@{/ajanlat/pdf}"
                                      th:object="${consumption}">
                                    <input hidden="hidden" th:field="*{value}">
                                    <input hidden="hidden" th:field="*{phase}">
                                    <input hidden="hidden" th:field="*{company}">
                                    <div class="caption sfb lowercase-caption text-center">
                                        <a href="javascript:{}" class="btn-text" type="submit" id="download"
                                           name="button"
                                           onclick="document.getElementById('simplePdf').submit(); return false;">
                                            <i class="fa fa-floppy-o fa-lg"></i>
                                            <span>Letöltés</span>
                                        </a>
                                    </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>
</section>

<!--End Contact-->


</div>

</body>
</html>