target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/
.ebextensions
.ebextensions/nginx/conf.d/force-https.conf
src/main/resources/static/assets/images/galery
src/main/resources/static/assets/pdf
