option_settings:
  # Backend Encryption Policy
  aws:elb:policies:backendencryption:
    PublicKeyPolicyNames: backendkey
    InstancePorts:  443
  # Public Key Policy
  aws:elb:policies:backendkey:
    PublicKey: |
      -----BEGIN CERTIFICATE-----
                  MIIDhTCCAm2gAwIBAgIUBX16z/d2bB27g36TbB5wdwObnn4wDQYJKoZIhvcNAQEF
                  BQAwUzEhMB8GA1UEAwwYQVdTIExpbWl0ZWQtQXNzdXJhbmNlIENBMQwwCgYDVQQL
                  DANBV1MxEzARBgNVBAoMCkFtYXpvbi5jb20xCzAJBgNVBAYTAlVTMB4XDTE3MDkx
                  OTIyMTkwMFoXDTE4MDkxOTIyMTkwMFowTTELMAkGA1UEBhMCVVMxEzARBgNVBAoM
                  CkFtYXpvbi5jb20xEjAQBgNVBAsMCUFXUy1Vc2VyczEVMBMGA1UEAwwMd2pzbnRy
                  cGJ3c2xtMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAlMdd8rfDWFuS
                  /M1w81JSx0qKsFPl7WPNQkjcPwZCPm/tmxwr0edaMuPrqlf2MxwN8IU3O1c4alT9
                  pBkeJ35QkPgC30AZlzU1RM6YDZ9ksWI50bG8Ds/kJjQ8g6VmP5dJR5mgx3RVGSh/
                  bCIqm+wxiUbc7VmCLfgIYSU/kLFNHbHHVw3HM0E0ReH2eRB0mVx1bxZH86srgwmm
                  GqPaP8LEG+ooNP5xDsXMEQWGUaGnViic/y8ZVms9tO4Yl7xPj3XMzUB/ZrfDBKWz
                  ebC7u7DBRl9HwOIUxh6HgjwMXs1xIqbCJOa8B62mkpCdi+qnzUN/3XVHPRpzbr40
                  8Ly8ZlczGQIDAQABo1cwVTAOBgNVHQ8BAf8EBAMCBaAwFgYDVR0lAQH/BAwwCgYI
                  KwYBBQUHAwIwDAYDVR0TAQH/BAIwADAdBgNVHQ4EFgQUsHExt+s8Ovtlaw7D3cmV
                  2fFqfcQwDQYJKoZIhvcNAQEFBQADggEBAL6FOGCWPExDmMlIBz/b7eStcdjPdKrk
                  EPm3UyqsprBk9m11minwPu+fhbEWqtWd4+og6s9YhCDl5ceLfgyb6qiTMO+7B5Xb
                  GlUS9nvtaBJN34gZokzg9SFSdRIy8NBee+fgkdc4o8MsFrBabxQZi5AMfEC08sE9
                  3Ij/zmZH9A98EQEHyb0stvGQ6sed8Ry4n6NR4axOYwuXXWTPq9QITiyfKUoekFKl
                  FyVcN8g6chsx36rBBW4r3K9PQ6b9JPetc8OT/9f0kY9GBKAaOInzxfzwtlEoBjD3
                  ec7QPFvos5eD00R8gu5kdDy5KDiGmYjLlf5T/zxuimWZyrEcF9/YdZU=
                  -----END CERTIFICATE-----