<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!--<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800%7CLato:300,400,700" rel="stylesheet"-->
          <!--type="text/css">-->
    <!--<link href="assets/css/bootstrap.css" rel="stylesheet" type="text/css">-->
    <!--<link href="assets/css/font-awesome.css" rel="stylesheet" type="text/css">-->
    <!--&lt;!&ndash; Revolution Style-sheet &ndash;&gt;-->
    <!--<link rel="stylesheet" type="text/css" href="assets/css/rev-style.css">-->
    <!--<link href="assets/css/style.css" rel="stylesheet" type="text/css">-->
    <!--&lt;!&ndash;Theme Color&ndash;&gt;-->
    <!--<link href="assets/css/theme-color/default.css" rel="stylesheet" id="theme-color" type="text/css">-->
    {% for style in styles %}
    <style>{
    %
    style
    %
    }</style>
    {% endfor %}
    <style>
        .tables {
            zoom: 0.8;
        }

        .description {
            zoom: 0.8;
        }

        .header-section {
            height: 30%;
            vertical-align: middle;
        }

        .nowrap {
            white-space: nowrap;
        }
    </style>

</head>

<body>
<section class="header-section">

    <div class="row text-center">
        <h2 class="text-center">Cég név</h2>
    </div>

</section>
<div class="container">
    <div class="check_form_right bg-color light-color">
        <div class="heading-box pb-15 ">
            <h2 class="text-center">Árajánlat</h2>
            <span class="b-line l-left secondary_bg"></span>

        </div>
        <p>Ajánlatszám: {{offer.id}}</p>

        <div class="container">
            <div class="product_order">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="tables">
                            <table class="table table-condensed">
                                <thead>
                                <td colspan="5" class="text-center"><strong>Termékek</strong></td>
                                </thead>
                                <thead>
                                <tr>
                                    <th>Név</th>
                                    <th>Egységár</th>
                                    <th>Mennyiség</th>
                                    <th>Összesen (Ft)</th>
                                    <th>Megjegyzés</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in offer.items %}
                                <tr>
                                    <td>{{ item.name }}</td>
                                    <td>{{ numberWithCommas(item.price) }} Ft</td>
                                    <td>{{ item.quantity }}</td>
                                    <td> {{ numberWithCommas(item.subtotal) }} Ft</td>
                                    <td>
                                        <div class="description">{{ item.description }}</div>
                                    </td>
                                </tr>
                                {% endfor %}

                                </tbody>
                                <thead>
                                <td colspan="5" class="text-center"><strong>Egyéb költségek</strong></td>
                                </thead>
                                <tbody>
                                {% for service in offer.services %}
                                <tr>
                                    <td>{{ service.name }}</td>
                                    <td class="thousands">{{ numberWithCommas(service.price) }} Ft</td>
                                    <td>{{ service.quantity }}</td>
                                    <td>{{ numberWithCommas(service.subtotal) }} Ft</td>
                                    <td>
                                        <div class="description">{{ service.description }}</div>
                                    </td>
                                </tr>
                                {% endfor %}
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Nettó részösszeg:</strong></td>
                                    <td class="nowrap">{{ numberWithCommas(offer.total) }} Ft &nbsp &nbsp Áfa : {{
                                        (offer.tax_rate - 1) * 100 }} %
                                    </td>

                                </tr>
                                <tr>
                                    <td colspan="4" class="text-right"><strong>Bruttó részösszeg:</strong></td>
                                    <td class="nowrap">{{ numberWithCommas((offer.total * offer.tax_rate) | round)}}
                                        Ft
                                    </td>
                                    <td></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>