<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<section class="top-bar-area">
    <div class="container">
        <div class="clearfix">
            <div class="pull-left">
                <p>
                    Üdvözöljük a Napos Oldalon!
                </p>
            </div>
            <div class="pull-right">
                <p>
                    <i class="fa fa-clock-o"></i>Hétfő - Péntek : 8:00 - 17:00
                </p>
            </div>
        </div>

    </div>
</section>
<!--End Top bar area -->
<!--Start header area-->
<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-sm-12 col-xs-12">
                <div class="logo">
                    <img src="../assets/images/logo-horizontal.png" alt="Napos Oldal">
                </div>
            </div>
            <div class="col-md-9 col-sm-12 col-xs-12">
                <div class="header-contact-info">
                    <ul>
                        <li>
                            <div class="iocn-holder">
                                <span class="fa fa-home"></span>
                            </div>
                            <div class="text-holder">

                                <h6>Dóczy József utca 30 C ép. 2.</h6>
                                <p>
                                    Miskolc, Magyarország
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="fa fa-phone-square"></span>
                            </div>
                            <div class="text-holder">
                                <h6>Telefon</h6>
                                <p>
                                    06-12-123-45-67
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <span class="fa fa-envelope"></span>
                            </div>
                            <div class="text-holder">
                                <h6>Email</h6>
                                <a href="#">
                                    <p>
                                        email@email.hu
                                    </p></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>
<!--End header area-->
<!-- Navbar -->

</html>