<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<header class="header-area">
    <div class="container">
        <div class="row">
            <div class="col-md-2 col-sm-12 col-xs-12">
                <a href="https://www.naposmegoldas.hu/">
                <div class="logo">
                    <img src="../assets/images/500x150.png" alt="Napos Megoldás">
                </div>
                </a>
            </div>
            <div class="col-md-10 col-sm-12 col-xs-12">
                <div class="header-contact-info">
                    <ul>
                        <li>
                            <div class="iocn-holder">
                                <a href="https://www.naposmegoldas.hu/üzenet"><span class="fa fa-home"></span></a>

                            </div>
                            <div class="text-holder">

                                <h6>Mindenre van megoldás</h6>
                                <p>
                                    az ország egész területén
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <a href="https://www.naposmegoldas.hu/üzenet"><span class="fa fa-phone-square"></span></a>
                            </div>
                            <div class="text-holder">
                                <h6>Telefon</h6>
                                <p>
                                    06-30-5048148
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="iocn-holder">
                                <a href="https://www.naposmegoldas.hu/üzenet"><span class="fa fa-envelope"></span></a>
                            </div>
                            <div class="text-holder">
                                <h6>Email</h6>
                                <a href="#">
                                    <p>
                                        tamas.matyas.ts@naposmegoldas.hu
                                    </p></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>

        </div>
    </div>
</header>
<!--End header area-->
<!-- Navbar -->

</html>