<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<body>


<!--Navbar-->
<div th:fragment="navbar">

    <!--Start mainmenu area-->
    <section class="mainmenu-area">
        <div class="container">
            <div class="mainmenu-bg">
                <div class="row">
                    <div class="col-md-9 col-sm-12 col-xs-12">
                        <nav class="main-menu">
                            <div class="navbar-header">
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li>
                                        <a th:href="@{/}">Főoldal</a>

                                    </li>
                                    <li>
                                        <a th:href="@{/rolunk}">Rólunk / Kapcsolat</a>

                                    </li>
                                    <li>
                                        <a>Termékeink</a>
                                        <!-- Nav Dropdown -->
                                        <ul class="sub-nav">
                                            <li>
                                                <a th:href="@{/termekek/growatt}">Growatt</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/termekek/solaredge}">Solaredge</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/termekek/fronius}">Fronius</a>
                                            </li>
                                        </ul>
                                        <!-- End Nav Dropdown -->
                                    </li>
                                   <!-- <li>
                                        <a sec:authorize="!isAuthenticated()" th:href="@{/ajanlat/1}">Árajánlat</a>
                                        <a sec:authorize="isAuthenticated()" th:href="@{/admin}">Árajánlat</a>
                                    </li>-->
                                    <li>
                                        <a th:href="@{/finanszirozas}">Finanszírozás</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/referencia}">Referencia</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/aszf}">ÁSZF</a>
                                    </li>
                                </ul>

                                <!-- ==============================
                                =========Mobile Navigation==========
                                ==================================== -->
                                <ul class="mobile-menu clearfix">
                                    <li>
                                        <a th:href="@{/}">Főoldal</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/rolunk}">Rólunk / Kapcsolat</a>
                                    </li>

                                    <li>
                                        <a href="#!">Termékeink</a><span class="submenu-button"></span>
                                        <!-- Nav Dropdown -->
                                        <ul class="sub-nav">
                                            <li>
                                                <a th:href="@{/termekek/growatt}">Growatt</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/termekek/solaredge}">Solaredge</a>
                                            </li>
                                            <li>
                                                <a th:href="@{/termekek/fronius}">Fronius</a>
                                            </li>
                                        </ul>
                                        <!-- End Nav Dropdown -->
                                    </li>
                                    <!--<li>
                                        <a sec:authorize="!isAuthenticated()" th:href="@{/ajanlat/1}">Árajánlat</a>
                                        <a sec:authorize="isAuthenticated()" th:href="@{/admin}">Árajánlat</a>
                                    </li>-->
                                    <li>
                                        <a th:href="@{/finanszirozas}">Finanszírozás</a>
                                    </li>
                                    <li>
                                        <a th:href="@{/referencia}">Referencia</a>
                                    </li>
                                    <li >
                                        <a th:href="@{/aszf}">ÁSZF</a>
                                        <!--<a sec:authorize="!isAuthenticated()" th:href="@{/login}">Bejelentkezés</a><span class="submenu-button"></span>-->
                                        <!--<a sec:authorize="isAuthenticated()" th:href="@{/logout}">Kijelentkezés</a><span class="submenu-button"></span>-->
                                    </li>
                                </ul>

                            </div>
                        </nav>
                    </div>
                </div>
                <div class="right-column">
                    <div class="right-area">
                        <div class="nav_side_content">
                            <div class="search_option">
                                <button sec:authorize="!isAuthenticated()" title="Bejelentkezés" onclick="location.href='/login'" class="search tran3s dropdown-toggle color1_bg">
                                    <i class="fa fa-sign-in" aria-hidden="true"></i>
                                </button>
                                <button sec:authorize="isAuthenticated()" title="Kijelentkezés" onclick="location.href='/logout'" class="search tran3s dropdown-toggle color1_bg">
                                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                                </button>
                                <!--<a sec:authorize="!isAuthenticated()" th:href="@{/login}"><i class="fa fa-sign-in" aria-hidden="true"></i></a>-->
                                <!--<a sec:authorize="isAuthenticated()" th:href="@{/logout}"><i class="fa fa-sign-out" aria-hidden="true"></i></a>-->
                            </div>
                        </div>
                        <div class="link_btn float_right">
                            <a sec:authorize="!isAuthenticated()" th:href="@{/ajanlat/1}" class="thm-btn bg-clr1">Árajánlat</a>
                            <a sec:authorize="isAuthenticated()" th:href="@{/admin/fogyasztas}" class="thm-btn bg-clr1">Árajánlat</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>