<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<!--The first step of the offer creation-->
<div th:fragment="first">

    <div class="container">
        <form method="post" th:action="@{/ajanlat/1}" th:object="${consumption}">
            <div class="row">
                <div class="col-sm-5"></div>
                <div class="col-sm-4">
                    <div class="heading-box ">
                        <h2 class="title">Fogyasztás</h2>
                        <span class="b-line l-left line-h"></span>
                        <br>
                        <br>
                    </div>

                </div>
            </div>
            <!--Hidden warning for phase-->
            <div class="container">
            <div class="row">
                <div class="col-sm-12 center">
                    <div class="alert alert-danger" hidden="hidden" id="alert-phase">
                        <strong>Figyelem!</strong> Amennyiben 5kWh feletti az éves fogyasztása,
                        és egyfázisú az elektromos hálózata, hálózatfejlesztésre lesz szüksége a rendszer telepítéséhez!
                    </div>
                </div>

            </div>
            </div>

            <div class="row">
                <div class="widget_shop-title">

                    <div class="col-sm-2"></div>
                    <div class="col-sm-5">
                        <div class="romana_check_out_form">
                            <div class="row">
                                <div class="check_form_left common_input">
                                    <div class="select_option_one">
                                        <select name="userSelect" id="stepOneSelect" th:field="*{metric}">
                                            <option value="Ft"><strong>Havi villanyszámla:</strong></option>
                                            <option value="kWh"><strong>Éves fogyasztás:</strong></option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-field mb-30">
                            <div class="input-group">
                                <!--The 'onkeypress' event is to determine if the typed characters ASCII code is in our desired interval(numbers)-->
                                <input class="input-lg form-full" id="sub" type="text" name="form-subject"
                                       placeholder="0"
                                       value="" required="required"
                                       th:field="*{value}"
                                       onkeypress='return  event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)'>
                                <span class="input-group-addon" id="metricHeader">FT</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div th:if ="${#authorization.expression('isAuthenticated()')}">
                    <select name="userSelect" id="companySelect" th:field="*{company}">
                    <option th:each="language : ${T(com.codecool.models.CompanyEnum).values()}"
                    th:value="${language}"
                    th:text="${language}">
                    </option>
                    </select>
                    </div>
                    <div th:unless="${#authorization.expression('isAuthenticated()')}">
<!--
                    <span sec:authentication="name"></span>
-->
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-2"></div>
                <div class="col-sm-5 no-pad">
                    <h4 class="title">Hány fázisú az elektromos hálózat az ön lakásában?</h4>
                </div>
                <div class="col-sm-1"></div>
                <div class="col-sm-2 pad-left">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div class="checkbox">
                                <input type="radio" id="phase1RadioInput" th:field="*{phase}" name="poll" value="1"
                                       checked="checked"/>
                                <label class="">1</label>
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <div class="checkbox">
                                <input type="radio" name="poll" id="phase2RadioInput" th:field="*{phase}" value="3"/>
                                <label class="">3</label>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <br>
            <br>

            <div class="row">
                <!--<div class="col-sm-1"></div>-->
                <div class="col-sm-12 center">
                    <button class="btn-text" type="submit" id="submit" name="button">
                        Következő
                    </button>
                </div>
                <!--<div class="col-sm-4"></div>-->
            </div>
        </form>
    </div>
</div>


</div>

<div th:fragment="second">

    <div class="container">
        <div class="row">
            <div class="col-sm-12 center">
                <div class="heading-box ">
                    <h2 class="title">Inverter és Napelem</h2>
                    <span class="b-line l-center line-h"></span>
                    <br>
                    <br>
                </div>
                <div class="heading-box ">
                    <h4 class="title"> Mindjárt kész van!
                        Kérjük válasszon egy inverter típust,
                        majd válassza ki a napelemek típusát a kártyákra kattintva.
                        A mező melletti nyilakkal lapozhat a termékek között.
                    </h4>
                    <br>
                </div>
            </div>
        </div>
    </div>

    <!-- Inverter és Panel választó -->
    <section class="testimonial-section ptb-xs-60 light-color parallax overlay-dark ">
        <div class="container">

            <!--Inverter Carousel Header-->
            <div class="row text-center pb-30">
                <div class="col-sm-12">
                    <div class="heading-box">
                        <br>
                        <h2><span>Inverterek</span></h2>
                        <span class="b-line line-h"></span>
                    </div>
                </div>
            </div>
            <div class="row">

                <!--Inverter Carousel Body-->
                <div class="carousel-slider nf-carousel-theme arrow_theme owl-carousel" data-pagination="false"
                     data-items="3" data-autoplay="false" data-loop="false" data-margin="-20" data-center="false"
                     data-navigation="true" data-desktopsmall="3" data-tablet="3" data-mobile="1">

                    <!--Listing given Inverters-->
                    <div th:each="inverter : ${inverterList}">
                        <div class="carousel-item col-sm-4">
                            <div class="testimonial-block cyan-background panel" th:data="${inverter.id}">
                                <h3 class="testimonial-author" th:text="${inverter.name}"></h3>
                                <hr class="small-divider">
                                <p>
                                    Ide nem tudom mi kell majd.
                                </p>

                                <h4 class="testimonial-price" th:text="'Egységár: '+${inverter.price}+'Ft'"></h4>
                                <!--TODO: Ide kellene a quantity már kiszámolva, lehet field kellene belőle-->
                                <h4 class="testimonial-price">Szükséges mennyiség: 1 db</h4>
                            </div>
                        </div>
                    </div>
                </div>

                <br>
                <br>
                <!--Solar Panel Carousel Header-->
                <div class="row text-center pb-30">
                    <div class="col-sm-12">
                        <div class="heading-box ">
                            <h2><span>Napelemek</span></h2>
                            <span class="b-line line-h"></span>
                        </div>
                    </div>
                </div>
                <!--Solar Panel Carousel Body-->
                <div class="carousel-slider nf-carousel-theme arrow_theme owl-carousel" data-pagination="false"
                     data-items="3" data-autoplay="false" data-loop="false" data-margin="-20" data-center="false"
                     data-navigation="true" data-desktopsmall="3" data-tablet="3" data-mobile="1">

                    <!--Listing given Solar Panels-->
                    <div th:each="panel:${solarPanelList}">
                        <div class="carousel-item col-sm-4">
                            <div class="testimonial-block cyan-background inverter" th:data="${panel.id}">
                                <h3 class="testimonial-author" th:text="${panel.name}"></h3>
                                <hr class="small-divider">
                                <!--TODO: th:text="${panel.marketingText}" valami ilyesmit kellene iderakni-->
                                <p>Ide mit akarunk írni?</p>
                                <h4 class="testimonial-price" th:text="'Egységár: '+${panel.price}+'Ft'"></h4>
                                <!--TODO: Ide kellene a quantity már kiszámolva, lehet field kellene belőle-->
                                <!--<h4 class="testimonial-price" th:text="${panel.quantityNeeded}"></h4>-->
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>

            </div>
        </div>
    </section>
    <br>
    <div class="container">
        <div class="row">
            <form method="post" th:action="@{/ajanlat/2}" th:object="${deviceForm}">
                <input type="hidden" id="inverterInput" defaultValue="0"
                       th:field="*{inverterId}">
                <input type="hidden" id="panelInput" value="0"
                       th:field="*{panelId}">
                <div class="col-sm-12 center">
                    <button disabled="disabled" class="btn-text" type="submit"
                            id="submitPanelAndInverter" name="button">
                        Következő
                    </button>
                </div>
            </form>
        </div>
    </div>

</div>
<div th:fragment="third">
    <div class="container">
        <form method="post" th:action="@{/ajanlat/3}" th:object="${email}">

            <div class="row">
                <div class="col-sm-12 center">
                    <div class="heading-box ">
                        <h2 class="title">Mindjárt kész!</h2>
                        <span class="b-line l-center line-h"></span>
                        <br>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12 center">
                    <h4 >Ha szeretné,hogy felvegyük önnel a kapcsolatot,
                        kérjük adja meg E-mail címét!</h4>
                </div>

            </div>

            <div class="row">
                <div class="widget_shop-title">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-3 center">
                        <h2 >Email cím:</h2>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-4">
                        <div class="form-field mb-30">
                                    <input class="input-lg form-full" id="email" type="text" name="form-email" placeholder="Email" th:field="*{email}" >
                            </div>
                        </div>
                </div>
                </div>
            </div>
            <br>
            <div class="row">
                <div class="col-sm-12 center">
                    <button class="btn-text" type="submit" id="submitEmail" name="button">
                       Árajánlat kérése!
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
</div>
<div th:fragment="fourth">
    Fourth
</div>

</body>
</html>