<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body class="full-intro background--dark">
<!--loader-->
<!--
<div th:replace="fragments/preloader :: preloader"></div>
-->

<div id="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<!--loader-->
<!-- Site Wraper -->
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>



    <!--  Main Banner End Here-->
    <section class="inner-intro  padding bg-img1 overlay-dark light-color">
        <div class="container">
            <div class="row title">
                <h1>Rólunk</h1>
            </div>
        </div>
    </section>
    <!--About Us End -->
    <section class="padding ptb-xs-60">
        <div class="container">

            <div class="row">

                <div class="col-sm-8">
                    <div class="headeing pb-30">
                        <h2>Miért válasszon minket?</h2>
                        <span class="b-line l-left line-h"></span>
                    </div>
                    <div class="headeing pb-30">

                        <p>
                        A Tradicional Solutions Kft.-t azzal a céllal alapítottam, hogy egy megújuló energia felhasználásának növelését célzó beruházás pénzügyi helyzettől függetlenül mindenki részére megvalósítható legyen. <br>
                            Több mint tíz éves bankvezetői múlttal rendelkezve, hitelezésben, adózással kapcsolatban, valamint projektmenedzselésben hatalmas tapasztalattal rendelkező munkatársakkal felvértezve, kínálunk teljes körű szolgáltatást (az ajánlatkéréstől a megvalósításig) és ehhez mindenkinek a legideálisabb, személyre szabott finanszírozási konstrukció kidolgozását.
                            <br><br>Kiemelt partnerünk a napelemek hazai forgalmazásának évek óta egyik piacvezetője a Stabil-Invest Kft., amely garancia a minőségre.
                            Forduljon hozzánk bizalommal és mi segítünk, hogy megvalósítsa álmát! Mi tudjuk, hogy mindenre van megoldás!
                            <br>
                            <br>
                            <br>
                            Mátyás Tamás
                            <br>
                            ügyvezető

                        </p>
                    </div>
                </div>

                <div class="col-sm-4 contact pt-xs-40">
                    <div class="headeing pb-20">
                        <h2>Kapcsolat</h2>
                        <span class="b-line l-left line-h"></span>
                    </div>
                    <div class="contact-info">

                        <ul class="info">
                            <li>
                                <div class="icon ion-ios-location"></div>
                                <div class="content">
                                    <p>
                                        Magyarország, Miskolc
                                    </p>
                                    <p>
                                        Dóczy József utca 30 C ép. 2.
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon ion-android-call"></div>
                                <div class="content">
                                    <p>
                                        <b>Mátyás Tamás ügyvezető</b>, 06-30-8263078<br>tamas.matyas.ts@naposmegoldas.hu
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon ion-android-call"></div>
                                <div class="content">
                                    <p>
                                        <b>Ritó Zsolt értékesítési vezető</b> 06-30-5048148<br>zsolt.rito.ts@naposoldal.hu
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon ion-android-call"></div>
                                <div class="content">
                                    <p>
                                        <b>Szanyi Andrea hitel ügyintéző</b> 06-30-3839883<br>andrea.szanyi.ts@naposoldal.hu
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="icon ion-android-call"></div>
                                <div class="content">
                                    <p>
                                        <b>Sedlák Eliza tervezés, engedélyezés</b> 06-30-3839883<br>eliza.sedlak.ts@naposmegoldas.hu
                                    </p>
                                </div>
                            </li>
<!--

                            <li>
                                <div class="icon ion-ios-email"></div>
                                <div class="content">
                                    <p>
                                        Support@yourmail.com
                                    </p>
                                    <p>
                                        http://admin@.com
                                    </p>
                                </div>
                            </li>-->
                        </ul>
                        <ul class="event-social">
                            <li>
                                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
        <!-- Map Section -->

    </section>



    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- END FOOTER -->
</div>

</body>
</html>
