<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head :: head"></head>

<body class="full-intro background--dark">


<div id="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>

<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>


    <section>
        <div class="page-404 padding ptb-xs-60">
            <div class="container">
                <!--Footer Info -->
                <div class="row text-center">
                    <div class="col-sm-6 col-sm-offset-3">
                        <strong class="big-font">4<i class="ion-android-happy"></i>4</strong>
                        <h2>A keresett oldal nem található</h2>
                        <!--<p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repudiandae odit iste exerc
                            ssumenda voluptas quidem sit maiores odio velit voluptate.
                        </p>-->
                        <a th:href="@{/}" class="btn-text mt-15">Vissza a főoldalra</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
    <!-- FOOTER -->
    <footer th:replace="fragments/footer :: footer"></footer>
    <!-- END FOOTER -->


</body>
</html>
