<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head">

</head>
<body class="full-intro background--dark">
<div id="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<!--loader-->
<!-- Site Wraper -->
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- CONTENT -->
    <!-- Intro Section -->
    <section class="inner-intro  padding bg-img1 overlay-dark light-color">
        <div class="container">
            <div class="row title">
                <h1>Referencia</h1>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->



    <!-- Work Section -->
    <section id="work" class="padding">
        <div class="container">
            <!-- work Filter -->
            <div class="row">
                <ul class="container-filter categories-filter">
                    <li>
                        <a class="categories active" data-filter="*">Összes</a>
                    </li>
                    <li>
                        <a class="categories" data-filter=".branding">Családi ház</a>
                    </li>
                    <li>
                        <a class="categories" data-filter=".design">Magasépület</a>
                    </li>
                    <li>
                        <a class="categories" data-filter=".photo">Park</a>
                    </li>
<!--                    <li>
                        <a class="categories" data-filter=".coffee">Rubbish Removal</a>
                    </li>-->
                </ul>
            </div>
            <!-- End work Filter -->
            <div class="row container-grid nf-col-4">

                <!--Start Family house-->
                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz1.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz1.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz2.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz2.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz3.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz3.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz4.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz4.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz5.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz5.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz6.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz6.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz7.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz7.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz8.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz8.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz9.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz9.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz10.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz10.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz11.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz11.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>

                <div class="nf-item branding spacing">
                    <div class="item-box">
                        <a> <img alt="1" src="assets/images/galery/csaladiHaz12.jpg" class="item-container"> </a>
                        <div class="link-zoom">
                            <a href="assets/images/galery/csaladiHaz12.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                        </div>
                    </div>
                </div>


            <!--End Family house--   photo spacing   coffee spacing   design spacing>

            <!--Start top-->
            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet1.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet1.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet2.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet2.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet3.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet3.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet4.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet4.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet5.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet5.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet6.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet6.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet7.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet7.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet8.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet8.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet9.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet9.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet10.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet10.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet11.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet11.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item design spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/magasEpulet12.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/magasEpulet12.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>
            <!--End top-->

        <!--Start park-->

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park1.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park1.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park2.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park2.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park3.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park3.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park4.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park4.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park5.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park5.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park6.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park6.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park7.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park7.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park8.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park8.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park9.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park9.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park10.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park10.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park11.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park11.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <div class="nf-item photo spacing">
                <div class="item-box">
                    <a> <img alt="1" src="assets/images/galery/park12.jpg" class="item-container"> </a>
                    <div class="link-zoom">
                        <a href="assets/images/galery/park12.jpg" class="fancylight popup-btn" data-fancybox-group="light" > <i class="fa fa-search-plus"></i> </a>
                    </div>
                </div>
            </div>

            <!--End park-->

            </div>
        </div>

    </section>








</div>
<!-- Site Wraper End -->

<!-- FOOTER -->
<!--Bootstrap-->

<!--
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.2.5/jquery.fancybox.min.js"></script>
-->

<div th:replace="fragments/footer :: footer"></div>

<!--Latest stable release of jQuery Core Library-->

<!--Bootstrap JS-->
<!-- END FOOTER -->
</body>
</html>
