<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="google-site-verification" content="71EK0lf9o5AtAU23VgrVcwE5FG41U5zu-W0dL3FCSIA" />
    <meta name="google-site-verification" content="4K7hFu9sXrmBdNbgcvkSIYl_sQ-HJPCd02RtJdVXeKc" />

    <title>Napos Megoldás</title>
    <meta name="description" content="Az ország teljes területén - teljes körű ügyintézés - hosszú távú garancia - részletfizetés 0% THM. Szolgáltatások: ingyenes felmérés, árajánlat adás egyszerűen online, teljes körű ügyintézés, kulcsrakész megvalósítás, önerőből, pályázattal, lakástakarékpénztári megtakarításból, hitellel, előlegfizetés nélkül / garanciával">
    <meta name="keywords" content="napelem, napelemes rendszer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0"/>
    <!--[if IE]>
    <meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

    <!-- Favicon Icon -->
    <link rel="icon" type="image/png" href="../assets/images/icons/icon.ico"/>
    <!-- CSS -->
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700,800%7CLato:300,400,700" rel="stylesheet"
          type="text/css">
    <link href="../assets/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/font-awesome.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/ionicons.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/flaticon.css" rel="stylesheet" type="text/css">
    <!-- carousel -->
    <link href="../assets/css/owl.carousel.css" rel="stylesheet" type="text/css">
    <!--Light box-->
    <link href="../assets/css/jquery.fancybox.css" rel="stylesheet" type="text/css">
    <!-- Revolution Style-sheet -->
    <link rel="stylesheet" type="text/css" href="../assets/rs-slider/rs-plugin/css/settings.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/rev-style.css">
    <!--Main Style-->
    <link href="../assets/css/navigation.css" rel="stylesheet" type="text/css">
    <link href="../assets/css/style.css" rel="stylesheet" type="text/css">
    <!--Theme Color-->
    <link href="../assets/css/theme-color/default.css" rel="stylesheet" id="theme-color" type="text/css">

</head>

<body class="full-intro background--dark">

<!--loader-->
<!--
<div th:replace="fragments/preloader :: preloader"></div>
-->

<div id="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<!--loader-->
<!-- Site Wraper -->
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div th:if="${param.error}">
            <label style="color:red">Érvénytelen felhasználóné és jelszó</label>
        </div>
        <div th:if="${param.logout}">
            <label>
                Kijelentkeztél
            </label>
        </div>


        <!-- Login Section -->
        <div id="login" class="padding ptb-xs-60 page-signin">
            <div class="container">
                <div class="row">
                    <div class="main-body">
                        <div class="body-inner">
                            <div class="card bg-white">
                                <div class="card-content">

                                    <section class="logo text-center">
                                        <h2>Bejelentkezés</h2>
                                    </section>

                                    <form th:action="@{/login}" method="post"
                                          class="form-horizontal ng-pristine ng-valid">

                                        <div class="form-group">
                                            <div class="ui-input-group">

                                                <input type="text" required class="form-control" name="username"/>
                                                <span class="input-bar"></span>
                                                <label>Felhaszálónév</label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="ui-input-group">
                                                <input type="password" required class="form-control" name="password"/>
                                                <span class="input-bar"></span>
                                                <label>Jelszó</label>
                                            </div>
                                        </div>

                                        <div>
                                            <button type="submit" class="btn-text">Bejelentkezés</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="additional-info">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Login Section -->
        <!--End Contact-->
        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>

        <!-- END FOOTER -->
    </div>
    <!-- Site Wraper End -->
</div>
</body>
</html>
