<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en"
      xmlns="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">


<head th:replace="fragments/head :: head"></head>

<body class="full-intro background--dark">

<!--loader-->
<!--
<div th:replace="fragments/preloader :: preloader"></div>
-->

<div id="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<!--loader-->
<!-- Site Wraper -->
<div class="wrapper">

    <div th:replace="fragments/header :: header"></div>

    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="container">
        <div th:if="${param.error}">
            <label style="color:red">Érvénytelen felhasználóné és jelszó</label>
        </div>
        <div th:if="${param.logout}">
            <label>
                Kijelentkeztél
            </label>
        </div>


        <!-- Login Section -->
        <div id="login" class="padding ptb-xs-60 page-signin">
            <div class="container">
                <div class="row">
                    <div class="main-body">
                        <div class="body-inner">
                            <div class="card bg-white">
                                <div class="card-content">

                                    <section class="logo text-center">
                                        <h2>Bejelentkezés</h2>
                                    </section>

                                    <form th:action="@{/login}" method="post"
                                          class="form-horizontal ng-pristine ng-valid">

                                        <div class="form-group">
                                            <div class="ui-input-group">

                                                <input type="text" required class="form-control" name="username"/>
                                                <span class="input-bar"></span>
                                                <label>Felhaszálónév</label>
                                            </div>
                                        </div>

                                        <div>
                                            <div class="ui-input-group">
                                                <input type="text" required class="form-control" name="password"/>
                                                <span class="input-bar"></span>
                                                <label>Jelszó</label>
                                            </div>
                                        </div>

                                        <div>
                                            <button type="submit" class="btn-text">Bejelentkezés</button>
                                        </div>
                                    </form>
                                </div>


                            </div>
                            <div class="additional-info">

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- End Login Section -->
        <!--End Contact-->
        <!-- FOOTER -->
        <div th:replace="fragments/footer :: footer"></div>

        <!-- END FOOTER -->
    </div>
    <!-- Site Wraper End -->
</div>
</body>
</html>
