<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">

<head th:replace="fragments/head :: head"></head>

<body class="full-intro background--dark">
<!--loader-->
<div id="preloader">
    <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
</div>
<!--loader-->

<!-- Site Wraper -->
<div class="wrapper">

    <!-- HEADER -->

    <!--Start Top bar area -->
    <section class="top-bar-area">
        <div class="container">
            <div class="clearfix">
                <div class="pull-left">
                    <p>
                        Üdvözöljük a Solár weboldalon
                    </p>
                </div>
                <div class="pull-right">
                    <p>
                        <i class="fa fa-clock-o"></i>Hétfő - Péntek : 8:00 - 17:00
                    </p>
                </div>
            </div>

        </div>
    </section>
    <!--End Top bar area -->

    <!--Start header area-->
    <header class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-12 col-xs-12">
                    <div class="logo">
                        <img src="assets/images/logo-black.png" alt="Awesome Logo">
                    </div>
                </div>
                <div class="col-md-9 col-sm-12 col-xs-12">
                    <div class="header-contact-info">
                        <ul>
                            <li>
                                <div class="iocn-holder">
                                    <span class="fa fa-home"></span>
                                </div>
                                <div class="text-holder">

                                    <h6>Dóczy József utca 30 C ép. 2.</h6>
                                    <p>
                                        Miskolc, Magyarország
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="iocn-holder">
                                    <span class="fa fa-phone-square"></span>
                                </div>
                                <div class="text-holder">
                                    <h6>Telefon</h6>
                                    <p>
                                        06-12-123-45-67
                                    </p>
                                </div>
                            </li>
                            <li>
                                <div class="iocn-holder">
                                    <span class="fa fa-envelope"></span>
                                </div>
                                <div class="text-holder">
                                    <h6>Email</h6>
                                    <a href="#">
                                        <p>
                                            email@email.hu
                                        </p></a>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>
    </header>
    <!--End header area-->

    <!-- Navbar -->
    <div th:replace="fragments/navbar :: navbar"></div>

    <!-- Intro Section -->
    <section class="inner-intro  padding bg-img1 overlay-dark light-color">
        <div class="container">
            <div class="row title">
                <h1>Ajánlat Kérése</h1>
                <div class="page-breadcrumb">
                    <h2 th:text="${step}+'/4'"></h2>
                </div>
            </div>
        </div>
    </section>
    <!-- End Intro Section -->


    <!-- Offer Form-->
    <section class="get-qoute padding ptb-xs-40 get-qoute">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 mt-xs-30">
                <div th:switch="${step}">
                    <div th:case="'1'"><div th:replace="fragments/offer_steps :: first"></div></div>
                    <div th:case="'2'"><div th:replace="fragments/offer_steps :: second"></div></div>
                    <div th:case="'3'"><div th:replace="fragments/offer_steps :: third"></div></div>
                    <div th:case="'4'"><div th:replace="fragments/offer_steps :: fourth"></div></div>

                </div>

            </div>
        </div>
    </div>
    </section>
    <!-- End of Offer Form -->

        <div class="clearfix"></div>
    <!--  Main Banner End Here-->

    <section  class="choose-us padding light-color pb-xs-0 overflow_hidden secondary_bg">

        <!-- half image background element -->
        <div class="container">
            <div class="row">

                <div class="col-sm-6">
                    <div class="creative_heading light-color pb-30">
                        <h2>Miért mi?</h2>
                    </div>

                    <div class="media ">
                        <div class="media-left">
                            <i class="flaticon-nature fontsize_28"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase"><a href="offer.html">Kedvező finanszírozási feltételek</a></h4>
                            <p>
                                clita kasd guberren no sea takimata sanctus est
                            </p>
                        </div>
                    </div>
                    <div class="media">
                        <div class="media-left">
                            <i class="flaticon-people-2 fontsize_28"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase"><a href="#!">Megbízható szakemberek</a></h4>

                            <p>
                                at vero eos et accusam justo duo dolores
                            </p>
                        </div>
                    </div>
                    <div class="media ">
                        <div class="media-left">
                            <i class="flaticon-people-1 fontsize_28"></i>
                        </div>
                        <div class="media-body">
                            <h4 class="text-uppercase"><a href="#!">Tiszta munka</a></h4>
                            <p>
                                lorem ipsum dolor sit amet, consetetur
                            </p>
                        </div>
                    </div>

                </div>

            </div>
        </div>
        <div class="image_cover image_cover_right"></div>
    </section>


    <!-- FOOTER -->
    <div th:replace="fragments/footer :: footer"></div>
    <!-- END FOOTER -->
</div>
<!-- Site Wraper End -->

</body>
</html>
