<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div th:fragment="content">
        <div class="container">
            <form method="post" id="mainForm" th:action="@{/admin/fogyasztas}" th:object="${consumption}">
                <div class="row">
                    <div class="col-sm-5"></div>
                    <div class="col-sm-4">
                        <div class="heading-box ">
                            <h2 class="title">Fogyasztás</h2>
                            <span class="b-line l-left line-h"></span>
                            <br>
                            <br>
                        </div>

                    </div>
                </div>
                <!--Hidden warning for phase-->
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 center">
                            <div class="alert alert-danger" hidden="hidden" id="alert-phase">
                                <strong>Figyelem!</strong> Amennyiben 5 kw feletti napelemes kiserőművet szeretne és
                                1 fázisú az elektromos hálózata, hálózatfejlesztésre van szükség a rendszer telepítéséhez!
                            </div>
                        </div>

                    </div>
                </div>

                <div class="row">
                    <div class="widget_shop-title">

                        <div class="col-sm-2"></div>
                        <div class="col-sm-5">
                            <div class="romana_check_out_form">
                                <div class="row">
                                    <div class="check_form_left common_input">
                                        <div class="select_option_one">
                                            <select name="userSelect" id="stepOneSelect" th:field="*{metric}">
                                                <option value="Ft">Havi villanyszámla:</option>
                                                <option value="kWh">Éves fogyasztás:</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4">
                            <div class="form-field mb-30">
                                <div class="input-group">
                                    <!--The 'onkeypress' event is to determine if the typed characters ASCII code is in our desired interval(numbers)-->
                                    <input class="input-lg form-full" id="sub" type="text" name="form-subject"
                                           value="" required="required"
                                           th:field="*{value}"
                                           onkeypress='return  event.charCode == 46 || (event.charCode >= 48 && event.charCode <= 57)'>
                                    <span th:text="${metric}" class="input-group-addon" id="metricHeader">FT</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">

                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5 no-pad">
                        <h4 class="title">Hány fázisú az elektromos hálózat az épületben, ahová a rendszert szeretné?</h4>
                    </div>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-2 pad-left">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="checkbox">
                                    <input type="radio" id="phase1RadioInput" th:field="*{phase}" name="poll" value="1"
                                           checked="checked"/>
                                    <label class="">1</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="checkbox">
                                    <input type="radio" name="poll" id="phase2RadioInput" th:field="*{phase}" value="3"/>
                                    <label class="">3</label>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>

                <div class="row" hidden="hidden" th:if="${#authorization.expression('!isAuthenticated()')}">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-5 no-pad">
                        <h4 class="title">Válassza ki hogy melyik cég nevében szeretné az árajánlatot generálni!</h4>
                    </div>
                    <div class="col-sm-4 pad-left">
                        <div class="romana_check_out_form">
                            <div class="row">
                                <div class="check_form_left common_input">
                                    <div>
                                        <select name="userSelect" id="companySelect" th:field="*{company}">
                                            <option th:each="company : ${T(com.codecool.models.enums.CompanyEnum).values()}"
                                                    th:value="${company}"
                                                    th:text="${company}">
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <br>
                <div class="row">

                    <div class="col-sm-5">
                    </div>
                    <div class="col-sm-2">
                        <button class="btn-text" type="submit" id="submit" name="button">
                            Következő
                        </button>
                    </div>
                    <div class="col-sm-5">
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>